# Default ignored files
/shelf/
/.idea/
figs/
logs/
data/
venv/
scripts/
tmp/
viber_credentials.json
assets/credentials.json
assets/token.json
__pycache__/
venv_host_server/
token.json
credentials.json