# Default ignored files
/shelf/
/.idea/
figs/
logs/
.DS_Store
.\logs*
data/
venv/
venv_host_server/
venv_scheduling_server/
scripts/
tmp/
assets/viber_credentials.json
viber_credentials.json
assets/credentials.json
credentials.json
assets/token.json
token.json
__pycache__/


