click
colorama
Flask
Flask-Cors
gunicorn
itsdangerous
Jinja2
MarkupSafe
MouseInfo
Pillow
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
PyScreeze
python-dateutil
pytweening
requests
six
waitress
Werkzeug
