certifi
charset-normalizer
configobj
configparser
cx-Freeze
cx-Logging
dnspython
easyocr
future
idna
imageio
importlib-metadata
joblib
lazy_loader
lief
MarkupSafe
MouseInfo
mss
networkx
numpy
opencv-python
packaging
pillow
psutil
PyAutoGUI
PyGetWindow
pymongo
PyMsgBox
PyMySQL
pyperclip
PyRect
PyScreeze
pytesseract
python-dateutil
pytweening
pytz
PyWavelets
pywin32-ctypes
requests
scikit-image
scikit-learn
scipy
six
threadpoolctl
tifffile
typing_extensions
tzdata
urllib3
watchdog
Werkzeug
zipp
